html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
body {
  background: #FFF5EE;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #DE5D83;
}
.heading{
  font-size: 3rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.js-transitions-disabled * {
  transition: none !important;
}
.carousel {
  position: relative;
  height: 100%;
  overflow: hidden;
  perspective: 50vw;
  perspective-origin: 50% 50%;
}
.carousel__control {
  position: absolute;
  height: 160px;
  width: 40px;
  background: #fff;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 1;
}
.carousel__control a {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 75%;
  box-sizing: border-box;
}
.carousel__control a:hover:before {
  background-color: rgba(0,0,0,0.4);
}
.carousel__control a.active:before,
.carousel__control a.active:hover:before {
  background-color: rgba(0,0,0,0.6);
}
.carousel__control a:first-child {
  margin-top: 15px;
}
.carousel__control a:before {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  padding-top: 25%;
  width: 25%;
  background: rgba(0,0,0,0.2);
  content: '';
  display: block;
  margin-top: -12.5%;
}
.carousel__stage {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  margin: auto;
  transform-style: preserve-3d;
  transform: translateZ(calc(-50vh + 20px));
}
.spinner {
  position: absolute;
  width: calc(50vw - (20px));
  height: calc(100vh - 40px);
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  margin: auto;
  transform-style: preserve-3d;
  transition: transform 1s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 50% 50%;
  transform: rotateX(0);
}
.js-spin-fwd .spinner {
  transform: rotateX(-90deg);
}
.js-spin-bwd .spinner {
  transform: rotateX(90deg);
}
.js-spin-fwd .spinner--right {
  transform: rotateX(90deg);
}
.js-spin-bwd .spinner--right {
  transform: rotateX(-90deg);
}
.spinner--right {
  right: 0;
  left: auto;
}
.spinner__face {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.spinner__face.js-next {
  display: block;
  transform: rotateX(90deg) translateZ(calc(50vh - 20px));
}
.spinner--right .spinner__face.js-next {
  transform: rotateX(270deg) translateZ(calc(50vh - 20px));
}
.js-spin-bwd .spinner__face.js-next {
  transform: rotateX(-90deg) translateZ(calc(50vh - 20px));
}
.js-spin-bwd .spinner--right .spinner__face.js-next {
  transform: rotateX(-270deg) translateZ(calc(50vh - 20px));
}
.js-active {
  display: block;
  transform: translateZ(calc(50vh - 20px));
}
.content {
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
}
.spinner--right .content {
  left: -100%;
}
.content__left,
.content__right {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
}
.content__right {
  right: 0;
  left: auto;
}
.content__left {
  background-repeat: no-repeat;
  background-size: cover;
}
.content__left:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
}

.content__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img{
  background-size: cover;
  background-position: center;
}
[data-type="iceland"] .content__left {
  background-image: url("imgs/Img1.jpg");s
}
.spinner--right [data-type="iceland"] .content__right {
  background-image: url("imgs/Img2.jpg");
}
[data-type="china"] .content__left {
  background-image: url("imgs/Img3.jfif");
}
.spinner--right [data-type="china"] .content__right {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/china.jpg");
}
[data-type="usa"] .content__left {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/usa.jpg");
  background-size: cover;
}
.spinner--right [data-type="usa"] .content__right {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/usa.jpg");
  background-size: cover;
}
[data-type="peru"] .content__left {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/peru.jpg");
  background-size: cover;
}
.spinner--right [data-type="peru"] .content__right {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/215059/peru.jpg");
  background-size: cover;
}
[data-type="london"] .content__left {
  background-image: url("https://www.fodors.com/assets/destinations/2869/tower-bridge-london-england_980x650.jpg");
  background-size: cover;
}
.spinner--right [data-type="london"] .content__right {
  background-image: url("https://www.fodors.com/assets/destinations/2869/tower-bridge-london-england_980x650.jpg");
  background-size: cover;
}
[data-type="mumbai"] .content__left {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Mumbai_Skyline_at_Night.jpg/1920px-Mumbai_Skyline_at_Night.jpg");
  background-size: cover;
}
.spinner--right [data-type="mumbai"] .content__right {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Mumbai_Skyline_at_Night.jpg/1920px-Mumbai_Skyline_at_Night.jpg");
  background-size: cover;
}
[data-type="poland"] .content__left {
  background-image: url("https://services.travelsavers.com/AMGService.svc/REST/GetImage?ImageID=11c723b4-af0f-ea11-9b23-782bcb667b27");
  background-size: cover;
}
.spinner--right [data-type="poland"] .content__right {
  background-image: url("https://services.travelsavers.com/AMGService.svc/REST/GetImage?ImageID=11c723b4-af0f-ea11-9b23-782bcb667b27");
  background-size: cover;
}
[data-type="mexico"] .content__left {
  background-image: url("https://assets.kpmg/is/image/kpmg/golden-tomb-buildings-city-view-americas-guide-mexico?scl=1");
  background-size: cover;
}
.spinner--right [data-type="mexico"] .content__right {
  background-image: url("https://assets.kpmg/is/image/kpmg/golden-tomb-buildings-city-view-americas-guide-mexico?scl=1");
  background-size: cover;
}
[data-type="brazil"] .content__left {
  background-image: url("https://www.seabourn.com/content/dam/sbn/inventory-assets/ports/GIG/gig-rio-de-janeiro2-brazil.jpg.image.2880.1047.high.jpg");
  background-size: cover;
}
.spinner--right [data-type="brazil"] .content__right {
  background-image: url("https://www.seabourn.com/content/dam/sbn/inventory-assets/ports/GIG/gig-rio-de-janeiro2-brazil.jpg.image.2880.1047.high.jpg");
  background-size: cover;
}
[data-type="korea"] .content__left {
  background-image: url("https://www.lowyinstitute.org/sites/default/files/GettyImages-1134201090.jpeg");
  background-size: cover;
}
.spinner--right [data-type="korea"] .content__right {
  background-image: url("https://www.lowyinstitute.org/sites/default/files/GettyImages-1134201090.jpeg");
  background-size: cover;
}
[data-type="cuba"] .content__left {
  background-image: url("https://cdn.britannica.com/98/83398-050-D7B498CD/view-Havana.jpg");
  background-size: cover;
}
.spinner--right [data-type="cuba"] .content__right {
  background-image: url("https://cdn.britannica.com/98/83398-050-D7B498CD/view-Havana.jpg");
  background-size: cover;
}
[data-type="switzerland"] .content__left {
  background-image: url("https://lp-cms-production.imgix.net/2021-03/shutterstockRF_1031249671.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850&q=50&dpr=2");
  background-size: cover;
}
.spinner--right [data-type="switzerland"] .content__right {
  background-image: url("https://lp-cms-production.imgix.net/2021-03/shutterstockRF_1031249671.jpg?auto=format&fit=crop&sharp=10&vib=20&ixlib=react-8.6.4&w=850&q=50&dpr=2");
  background-size: cover;
}








